<!DOCTYPE html>
<html>
<head>
    <title>Traffic Dashboard</title>
</head>
<body>

<h2>Traffic Dashboard</h2>

<input id="loc" placeholder="Location">
<input id="count" placeholder="Vehicle Count">
<input id="status" placeholder="Signal">

<button onclick="send()">Add</button>

<ul id="list"></ul>

<script>
function send(){
fetch('/traffic/add',{
method:'POST',
headers:{'Content-Type':'application/json'},
body:JSON.stringify({
location:document.getElementById('loc').value,
vehicleCount:document.getElementById('count').value,
signalStatus:document.getElementById('status').value
})
}).then(()=>load());
}

function load(){
fetch('/traffic/all')
.then(r=>r.json())
.then(data=>{
let out="";
data.forEach(d=>{
out+= "<li>"+d.location+" | "+d.vehicleCount+" | "+d.signalStatus+"</li>";
});
document.getElementById('list').innerHTML=out;
});
}

load();
</script>

</body>
</html>
